<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head lang="pl">
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1>Welcome in Note</h1>



</p>

<form action="#" th:action="@{/saveNote}" th:object="${note}" method="post">
    <table border="1">

        <tr>
            <td><label th:text="#{msg.title}" /></td>
            <td><input type="text" th:field="*{title}" /></td>
        </tr>
        <tr>
            <td><label th:text="#{msg.content}" /></td>
            <td><input type="text" th:field="*{content}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
<a href="http://localhost:8080/">Main Page</a><br>
<a href="http://localhost:8080/allNotes">All Note</a>
</body>


</html>