<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head lang="pl">
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1>Hello</h1>
<h2>Hello againnn</h2>
<p th:utext="#{wjug.welcome}">

    <!--Witamy na <strong> WJUG </strong>-->
</p>

<!--<form action="#" th:action="@{/saveStudent}" th:object="${student}" method="post">-->
<!--    <table border="1">-->
<!--        <tr>-->
<!--            <td><label th:text="#{msg.id}" /></td>-->
<!--            <td><input type="number" th:field="*{id}" /></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><label th:text="#{msg.name}" /></td>-->
<!--            <td><input type="text" th:field="*{name}" /></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><input type="submit" value="Submit" /></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</form>-->
</body>

</html>